# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Android
android/.gradle/
android/app/build/

# macOS / Xcode
.DS_Store
*.xcuserstate

# IDEs
.idea/
.vscode/
*.iml